:root {
  --primary-color: #7E3AF2;
  --text-color: rgba(36,38,45);
  --secondary-color : rgba(112,114,117);
  --background-color: #F9FAFB;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: Manrope;
  font-weight: 700;
  src: url("../fonts/Manrope-Bold.ttf");
}
@font-face {
  font-family: Manrope;
  font-weight: 500;
  src: url("../fonts/Manrope-Medium.ttf");
}
html{
  height: 100%;
}
.body {
  margin: 0 auto;
  padding: 0;
  background-color: var(--background-color);
  font-family: "Manrope";
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.ul-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.global-width {
  max-width: 1440px;
  margin: 0 auto;
}
.common-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.common-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.common-button-container {
  padding: 15px 20px 15px 20px;
  gap: 20px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}
.logo-wrap{
  text-decoration: none;
}
.material-symbols-outlined {
  color: white;
}
.button-decoration {
  font-weight: 500;
  text-decoration: none;
  color: white;
}
::placeholder {
  color: rgb(203, 203, 203);
  font-size: 20px;
  font-family: "Manrope";
}
.button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

