.header{
  z-index: 10;
  box-shadow:0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
}
.header-content {
  margin: 0 auto;
  padding: 29px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-section {
  height: 100%;
}
.main-content {
  margin-top: 20px;
}

.heading-section {
  padding: 20px 24px;
  margin-bottom: 80px;
}
.heading1 {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--text-color);
}
.heading-section .common-button-container {
  background-color: var(--secondary-color);
  font-size: 18px;
}

.actions-section {
  gap: 30px;
  padding: 15px;
  margin-bottom: 30px;
  background-color: cadetblue;
  border-radius: 10px;
}
.search-bar {
  flex: 1;
  gap: 10px;
  background-color: brown;
  border-radius: 10px;
  padding: 10px;
}
.search-form {
  flex: 1;
  gap: 10px;
}
.search-text {
  width: 100%;
  background: transparent;
  border: none;
  outline: 0;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.search-bar .common-button-container {
  padding: 10px;
  gap: 20px;
  border-radius: 0;
  background: none;
  border-left: 2px solid black;
}
.actions-section .button-decoration {
  font-size: 18px;
}
.filters {
  gap: 10px;
}
.filters .common-button-container {
  background-color: black;
}

.employee-table{
  display: none;
  border: 1px solid black;
}
.employee-table,.table-row {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
tr{
  border-bottom: 1px solid black;
}
.table-heading,
.employee-data {
  padding: 20px;
  border-spacing: 0;
}

.table-heading {
  border-top: none;
  background-color: var(--primary-color);
  color: white;
}
.employee-heading {
  display: flex;
  align-items: center;
  gap: 10px;
}
.table-heading .button{
    padding: 10px;
}
.table-title{
    cursor: pointer;
    color: white;
}
.employee-data {
  background-color: white;
}
.sort-icon{
  transition: 300ms;
  cursor: pointer;
  visibility: hidden;
}

.skill-list {
  display: flex;
  align-items: center;
  gap: 10px;
}
.skill-card {
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 10px;
}
.skill{
  text-decoration: none;
  cursor: default;
  color: white;
}
.actions-list .material-symbols-outlined {
  color: #000;
  gap: 10px;
}

.loader {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #9c41f2;
  border-radius: 100%;
  margin: auto;
  display: none;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer{
  margin-top: auto;
}
.copyright-section {
  border-top: 1px solid var(--text-color);
  padding: 30px 0 30px 0;
  text-align: center;
}
