.header {
  z-index: 10;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.header-content {
  margin: 0 auto;
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-section {
  height: 100%;
  margin-bottom: 80px;
}
.main-content {
  margin-top: 20px;
}

.heading-section {
  padding: 20px 0;
  margin-bottom: 40px;
}

.heading-section .common-button-container {
  background-color: var(--secondary-color);
  font-size: 18px;
}

.actions-section {
  gap: 30px;
  padding: 16px 0;
  margin-bottom: 30px;
  border-radius: 10px;
}
.search-bar {
  flex: 1;
  gap: 10px;
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 5px;
  border: 2px solid var(--secondary-color);
}
.search-form {
  flex: 1;
  gap: 10px;
}
.search-input {
  width: 100%;
  background: transparent;
  border: none;
  outline: 0;
  color: white;
  text-decoration: none;
  font-size: 16px;
  color: var(--secondary-color);
}
.search-bar .common-button-container {
  padding: 10px 10px;
  gap: 5px;
  border-radius: 0;
  background: none;
  border-left: 2px solid var(--secondary-color);
}
.search-bar .material-symbols-outlined,
.search-bar .search-dropdown-btn-text {
  margin: 0;
  color: var(--secondary-color);
}
.actions-section .button-decoration {
  font-size: 16px;
}
.filters {
  gap: 10px;
}
.filters .common-button-container {
  background-color: var(--secondary-color);
}
.search-bar {
  position: relative;
}
.filters {
  position: relative;
}
.filter-dropdown,
.search-dropdown {
  z-index: 1;
  background-color: white;
  border: 1px solid var(--secondary-color);
  position: absolute;
  top: 50px;
  right: 0;
  border-radius: 10px;
  min-width: 520px;
}
.search-dropdown {
  min-width: 200px;
  padding: 10px;
}

.search-dropdown .list-item .search-filter-label {
  padding-left: 10px;
  cursor: pointer;
}
.dropdown-row {
  border-bottom: 1px solid var(--secondary-color);
  padding: 10px;
}
.dropdown-row:last-child {
  border-bottom: none;
}
.head-row {
  padding: 16px;
}
.search-filter {
  accent-color: var(--secondary-color);
}
.filter-heading-row {
  align-items: stretch;
  padding: 0 0 10px 0;
}
.filter-title {
  flex: 1;
}
.reset-btn {
  font-weight: 700;
  flex: 0;
  margin-left: auto;
  color: #000 !important;
}
.dropdown-list {
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 10px;
}
.selected-list {
  flex: 1;
}
.dropdown-icon {
  flex: 0;
  color: var(--secondary-color) !important;
}
.options-list {
  z-index: 2;
  background-color: rgb(245, 220, 241);
  position: absolute;
  border-radius: 10px;
  width: 100%;
}
.list-item {
  padding: 10px;
}
.filter-dropdown .list-item:hover {
  background-color: var(--primary-color);
  color: white;
}
.chip {
  gap: 5px;
  padding: 5px;
  background-color: white;
  color: var(--secondary-color);
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
}
.chip-cancel-btn {
  color: var(--secondary-color) !important;
}
.selected-list {
  gap: 10px;
  justify-content: flex-start !important;
}

.employee-table {
  display: none;
  border: 1px solid var(--secondary-color);
  margin-bottom: 80px;
}
.employee-table,
.table-row {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
tr {
  border-bottom: 1px solid var(--secondary-color);
  font-size: 14px;
}
th,
td {
  padding: 10px;
  border-spacing: 0;
}

.table-heading {
  border-top: none;
  background-color: var(--primary-color);
  color: white;
}
.employee-heading {
  display: flex;
  align-items: center;
  gap: 10px;
}
.table-heading .button {
  padding: 10px;
}
.table-title {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: white;
}
.employee-data {
  background-color: white;
}
.no-data {
  text-align: center;
}
.sort-icon {
  transition: 300ms;
  cursor: pointer;
  visibility: hidden;
}

.skill-list {
  display: flex;
  align-items: center;
  gap: 10px;
}
.skill-card {
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 10px;
  color: white;
}
.actions-list .material-symbols-outlined {
  font-size: 20px;
  color: var(--secondary-color);
  gap: 10px;
}

.loader {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid var(--primary-color);
  border-radius: 100%;
  margin: auto;
  display: none;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  background-color: white;
  border-radius: 10px;
  border: 2px solid var(--secondary-color);
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.modal .close-button {
  color: var(--secondary-color);
  align-self: flex-end;
}

.employee-delete-modal {
  width: 400px;
}
.employee-delete-modal .button-row {
  align-self: flex-end;
  gap: 10px;
}
.employee-delete-modal .common-button-container {
  background-color: var(--secondary-color);
}
.view-modal {
  width: 600px;
  gap: 20px;
}
.detail-title {
  font-size: 16px !important;
  font-weight: 900 !important;
}
.category {
  flex: 1;
}
.contact-detail-icon {
  color: var(--secondary-color) !important;
}
.contact-details-val-row {
  gap: 10px;
}
.contact-detail-val {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer {
  margin-top: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--background-color);
}
.copyright-section {
  border-top: 1px solid var(--secondary-color);
  padding: 20px 0 20px 0;
  text-align: center;
  font-size: 12px;
}

.m-10 {
  margin-bottom: 10px !important;
}
.personal-details,
.other-details {
  margin: 0 0 30px 0;
}

.entry-details-row {
  gap: 30px;
  margin-bottom: 30px;
}
.detail {
  display: flex;
  flex-direction: column;
  position: relative;
}
.input-grp {
  border: 1px solid var(--secondary-color);
}
.skills-detail .input-grp{
  border: none;
}
.input[type='text'],
.input[type='email'],
.input[type='date'],
.input[type='tel'],textarea,select {
  flex: 1;
  background: transparent;
}
input,textarea {
  border: none;
  padding: 10px;
  outline: none;
  color: var(--secondary-color);
}

.input-icon {
  padding: 10px;
}
.error-msg{
  color: red;
  font-size: 12px;
  margin: 0;
}
.gender-label-heading {
  margin: 0 0 10px 0;
}
.gender-detail {
  display: flex;
  align-items: center;
  gap: 10px;
}
.gender-other-val {
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  background-color: transparent;
  padding: 5px;
  outline: none;
}
.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.form-buttons .common-button-container {
  background-color: var(--secondary-color);
}
select {
  padding: 10px;
}
.select-box .input-grp{
  border: none;

}
textarea{
  resize: none;
  padding: 10px;
}
.skills-detail .options-list {
  width: fit-content;
}
.skills-list .material-symbols-outlined {
  font-size: 24px;
}
.skills-detail .input-grp{
  display: flex;
}
.toast {
  background-color: blue;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  gap: 10px;
  transform: translateX(100%);
}
.toast-animation {
  transition: 3s;
  transform: translateX(-100%) !important;
}
.toast-title {
  color: white;
}
